<div class="content-profile-page">
  <div class="profile-user-page card">
    <div class="img-user-profile">
      <img class="profile-bgHome" src="https://37.media.tumblr.com/88cbce9265c55a70a753beb0d6ecc2cd/tumblr_n8gxzn78qH1st5lhmo1_1280.jpg" />
      <img class="avatar" src="http://gravatar.com/avatar/288ce55a011c709f4e17aef7e3c86c64?s=200" alt="jofpin"/>
    </div>
    <button>Follow</button>
    <div class="user-profile-data">
      <h1>Jose Pino</h1>
      <p>github.com/jofpin</p>
    </div>
    <div class="description-profile">Yestarday watched 'Lord of the Ring'. I am happy. Best movie whatever i seen</div>
    <ul class="data-user">
      <li><a><strong>125</strong><b><span>Posts</span></b></a></li>
      <li><a><strong>25</strong><b><span>Rewies</span></b></a></li>
      <li><a><strong>2K</strong><b><span>Likes</span></b></a></li>
    </ul>
    <ul class="data-user">
      <li><a><strong>2K</strong><span>Follow</span></a></li>
      <li><a><strong>1,5K</strong><span>Following</span></a></li>
    </ul>
  </div>
</div>
<div class="timeline">Timeline</div>

